body {
    margin: 0;
    background: #f7f7f7;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
}

#app {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    text-align: center;
}

.page.hidden {
    display: none;
}

h1 {
    color: #444;
    font-size: 28px;
    margin-bottom: 20px;
}

.btn {
    margin: 10px;
    padding: 18px 26px;
    font-size: 20px;
    background: #FFCE67;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 80%;
    transition: 0.2s;
}

.btn:hover {
    transform: scale(1.05);
}

.btn.small {
    width: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.grid img {
    width: 100%;
    border-radius: 18px;
    cursor: pointer;
    transition: 0.2s;
    border: 4px solid transparent;
}

.selected {
    border: 4px solid #ffb200;
    transform: scale(1.05);
}

#preview-container {
    height: 300px;
    background: #ddd;
    border-radius: 20px;
}
